img {
	width: 35%;
}

body {
	text-align: center;
	font-family: "Inconsolata";
	background: antiquewhite;
	color: darkolivegreen;
	padding-bottom:10%;
	margin:0;
}

a:link {
	color: darkolivegreen;
	text-decoration: underline wavy;
}

a:visited {
	color: darkolivegreen;
	text-decoration: underline wavy;
}

a:hover {
	color: antiquewhite;
	background-color: darkolivegreen;
}

header {
	background-color:antiquewhite;
	margin:0;
	text-align:center;
	width:100%;
	padding-top:4%;
	padding-bottom:2%;
}

footer {
	background-color:rgb(238, 221, 199);
	position:fixed;
	left:0;
	bottom:0;
	text-align:center;
	width:100%;
	padding-top:2%;
}

p {
	text-align: left;
	padding-left:30%;
	padding-right:30%;
}

h1 {
	margin:1%
}

html {
  overflow-y: scroll;
}